@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-[16px];
}

body {
  @apply p-0 m-0 h-screen font-kanit;
}

@layer utilities {
  /* .main-content > * {
    grid-column: 2;
  }

  .main-content > * {
    @apply mb-[1.875rem] md:mb-0;
  }

  .main-content > .full-bleed {
    grid-column: 1 / 4;
  } */
}
.overScrollbar::-webkit-scrollbar{
 width: 0;

}